In [181]:
from __future__ import division
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import os
import numbeo_scraper as ns
import get_bea_data as gbd
import population_cleanup as pc
%matplotlib inline

In [294]:
# read in population (1790 - 2010) and rj metrics meetup info (2013-2014) and merge df's

pop_df = pc.get_pop_data('data/1790-2010_MASTER.csv')
rj_df = pc.get_rj_data('data/rj_metrics.txt')
new_df = pd.concat([pop_df, rj_df], axis=1)

In [295]:
# clean and join bureau of economic affairs info

raw_bea = gbd.get_bea_data('http://www.bea.gov/newsreleases/regional/gdp_metro/2015/xls/gdp_metro0915.xls')
bea_df = gbd.clean_me(raw_bea)
bea_df = bea_df[:-2]
next_df = pd.concat([new_df, bea_df[bea_df['bea_2014'] > 20000]], axis=1)
# bea_df.shape
# cities = next_df.index

In [323]:
# incorporate numbeo data:

url_prefix = 'http://www.numbeo.com/cost-of-living/region_rankings.jsp?title='
url_suffix = '&region=021'
year_list = ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']

urls = ns.build_urls(year_list)
#soup_can = [get_pages(url) for url in urls]
for url in urls:
    soup_can = ns.get_pages(url)
table_list = [ns.clean_up(soup) for soup in soup_can]
zipped = list(zip(year_list, table_list))
df_dict = ns.build_data_frames(zipped)

for item in year_list:
    columns= ns.fix_em(['Rank','City','Cost of Living Index','Rent Index','Cost of Living Plus Rent Index',
          'Groceries Index','Restaurant Price Index','Local Purchasing Power Index'])
    first_cols = columns[:2]
    first_cols.extend([column + '_{}'.format(item)for column in columns[2:]]) 
    df_dict[item].columns = first_cols

In [324]:
def clean_up_df(df):
    df['state'] = df['city'].apply(lambda x: x.split(',')[1].strip().lower().replace(' ', '_'))
    df['city'] = df['city'].apply(lambda x: x.split(',')[0].lower().replace(' ', '_'))
    del df['rank']
    return df

In [325]:
df_2009 = clean_up_df(df_dict['2009'])
df_2010 = clean_up_df(df_dict['2010'])
df_2011 = clean_up_df(df_dict['2011'])
df_2012 = clean_up_df(df_dict['2012'])
df_2013 = clean_up_df(df_dict['2013'])
df_2014 = clean_up_df(df_dict['2014'])
df_2015 = clean_up_df(df_dict['2015'])
df_2016 = clean_up_df(df_dict['2016'])

In [329]:
df_list = [df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016]

8

In [332]:
def merger(df1, df2):
    df_merge = pd.merge(df1, df2,
              left_on=['city', 'state'],
              right_on=['city', 'state'],
              how='outer')
    return df_merge

merged1 = merger(df_list[0], df_list[1])
merged2 = merger(merged1, df_list[2])
merged3 = merger(merged2, df_list[3])
merged4 = merger(merged2, df_list[4])
merged5 = merger(merged2, df_list[5])
merged6 = merger(merged2, df_list[6])
merged7 = merger(merged2, df_list[7])
merged7.set_index('city', inplace=True)
value_list = ['canada', 'bermuda']
merged7 = merged7[~merged7['state'].isin(value_list)]

In [336]:
merged7

,cost_of_living_index_2009,rent_index_2009,cost_of_living_plus_rent_index_2009,groceries_index_2009,restaurant_price_index_2009,local_purchasing_power_index_2009,state,cost_of_living_index_2010,rent_index_2010,cost_of_living_plus_rent_index_2010,...,cost_of_living_plus_rent_index_2011,groceries_index_2011,restaurant_price_index_2011,local_purchasing_power_index_2011,cost_of_living_index_2016,rent_index_2016,cost_of_living_plus_rent_index_2016,groceries_index_2016,restaurant_price_index_2016,local_purchasing_power_index_2016
city,,,,,,,,,,,,,,,,,,,,,
san_francisco,100.14,117.65,107.09,117.42,105.24,101.50,ca,90.64,81.55,86.58,...,90.84,82.76,72.72,107.10,103.36,121.64,112.15,122.07,90.89,105.83
new_york,100.00,100.00,100.00,100.00,100.00,100.00,ny,100.00,100.00,100.00,...,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
tampa,NaN,NaN,NaN,NaN,NaN,NaN,fl,109.64,39.98,78.51,...,69.65,61.16,62.24,104.76,72.44,37.19,55.50,75.21,73.74,141.77
columbus,NaN,NaN,NaN,NaN,NaN,NaN,oh,104.69,42.63,76.96,...,NaN,NaN,NaN,NaN,69.81,34.38,52.78,71.01,64.11,133.01
portland,NaN,NaN,NaN,NaN,NaN,NaN,or,102.90,46.57,77.73,...,NaN,NaN,NaN,NaN,80.04,48.59,64.92,84.28,71.40,121.98
atlanta,NaN,NaN,NaN,NaN,NaN,NaN,ga,100.99,40.66,74.03,...,66.46,68.34,66.19,103.02,75.70,38.05,57.60,76.89,70.45,139.39
seattle,NaN,NaN,NaN,NaN,NaN,NaN,wa,100.33,49.85,77.77,...,76.52,94.13,85.61,124.94,83.22,59.97,72.05,83.63,80.14,147.45
minneapolis,NaN,NaN,NaN,NaN,NaN,NaN,mn,92.85,56.51,76.61,...,69.65,87.78,78.24,123.20,81.06,44.38,63.43,90.16,68.46,142.26
austin,NaN,NaN,NaN,NaN,NaN,NaN,tx,91.38,57.50,76.24,...,63.81,73.61,61.23,130.52,70.23,50.35,60.67,67.42,69.53,139.16
boston,NaN,NaN,NaN,NaN,NaN,NaN,ma,89.11,63.24,77.55,...,79.42,88.72,79.32,128.89,84.70,75.31,80.19,86.18,82.81,124.49
philadelphia,NaN,NaN,NaN,NaN,NaN,NaN,pa,85.45,59.36,73.79,...,72.27,73.48,66.79,112.19,83.57,46.98,65.98,89.56,74.61,108.23
lincoln,NaN,NaN,NaN,NaN,NaN,NaN,ne,79.20,29.51,57.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phoenix,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN,...,71.79,75.61,67.81,112.94,70.84,31.10,51.74,70.71,64.84,199.38
los_angeles,NaN,NaN,NaN,NaN,NaN,NaN,ca,NaN,NaN,NaN,...,79.84,80.80,68.20,130.42,77.78,63.73,71.03,76.54,78.83,127.13
miami,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN,...,78.58,68.62,79.00,85.57,79.98,54.55,67.76,77.71,83.05,132.10
san_diego,NaN,NaN,NaN,NaN,NaN,NaN,ca,NaN,NaN,NaN,...,78.86,78.49,95.50,102.82,76.17,57.20,67.05,76.09,77.39,123.22
boise,NaN,NaN,NaN,NaN,NaN,NaN,id,NaN,NaN,NaN,...,65.63,71.95,56.72,120.45,66.21,27.02,47.37,66.74,67.01,128.30
dallas,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN,...,68.82,77.57,59.02,127.56,72.42,39.47,56.58,71.65,68.41,159.75
san_jose,NaN,NaN,NaN,NaN,NaN,NaN,ca,NaN,NaN,NaN,...,75.86,84.01,59.31,125.59,77.11,80.71,78.84,81.00,70.26,169.92
new_orleans,NaN,NaN,NaN,NaN,NaN,NaN,la,NaN,NaN,NaN,...,67.99,59.75,54.65,70.89,77.98,37.09,58.33,78.70,77.66,111.29
louisville,NaN,NaN,NaN,NaN,NaN,NaN,ky,NaN,NaN,NaN,...,58.48,73.93,53.10,95.44,69.84,24.85,48.22,83.32,54.88,130.71
memphis,NaN,NaN,NaN,NaN,NaN,NaN,tn,NaN,NaN,NaN,...,63.94,64.89,55.83,92.99,NaN,NaN,NaN,NaN,NaN,NaN
milwaukee,NaN,NaN,NaN,NaN,NaN,NaN,wi,NaN,NaN,NaN,...,63.09,72.38,73.61,103.27,69.82,29.91,50.64,70.99,65.94,148.04
hartford,NaN,NaN,NaN,NaN,NaN,NaN,ct,NaN,NaN,NaN,...,69.86,102.51,55.41,116.07,75.77,37.56,57.41,80.45,71.41,172.80
san_antonio,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN,...,58.57,67.31,76.49,117.67,63.57,31.83,48.32,66.45,56.40,146.79
kansas_city,NaN,NaN,NaN,NaN,NaN,NaN,mo,NaN,NaN,NaN,...,63.08,67.47,57.98,96.75,67.52,28.77,48.90,66.95,65.32,154.44
cleveland,NaN,NaN,NaN,NaN,NaN,NaN,oh,NaN,NaN,NaN,...,62.23,65.82,64.63,119.43,79.08,28.35,54.70,79.74,73.34,140.42
detroit,NaN,NaN,NaN,NaN,NaN,NaN,mi,NaN,NaN,NaN,...,58.22,67.68,59.06,98.93,71.88,31.08,52.27,74.59,57.21,196.96
fresno,NaN,NaN,NaN,NaN,NaN,NaN,ca,NaN,NaN,NaN,...,56.98,70.21,56.64,99.61,NaN,NaN,NaN,NaN,NaN,NaN
albuquerque,NaN,NaN,NaN,NaN,NaN,NaN,nm,NaN,NaN,NaN,...,57.85,75.64,58.29,116.79,63.81,24.66,45.00,64.55,63.69,153.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
santa_barbara,NaN,NaN,NaN,NaN,NaN,NaN,ca,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,75.62,61.64,68.90,78.21,73.27,144.59
houston,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,75.19,45.62,60.98,77.34,68.85,138.45
spokane,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74.66,25.81,51.19,74.79,81.11,115.00
greensboro,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74.53,25.98,51.20,82.67,61.24,203.07
jacksonville,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,73.95,31.94,53.76,77.27,69.34,137.80
indianapolis,NaN,NaN,NaN,NaN,NaN,NaN,in,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,73.55,28.90,52.09,77.98,58.64,119.09
riverside,NaN,NaN,NaN,NaN,NaN,NaN,ca,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,73.40,36.50,55.66,70.69,64.89,155.50
madison,NaN,NaN,NaN,NaN,NaN,NaN,wi,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,73.28,36.44,55.57,77.21,65.49,150.14
vancouver,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,72.67,31.10,52.69,76.76,58.86,152.22
raleigh,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,72.23,34.08,53.90,74.35,72.62,146.91
lexington,NaN,NaN,NaN,NaN,NaN,NaN,ky,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,71.82,28.38,50.94,65.87,62.53,151.55
rochester,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.96,31.29,51.89,69.83,73.73,140.70
saint_louis,NaN,NaN,NaN,NaN,NaN,NaN,mo,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.95,27.95,50.29,75.00,60.45,138.84
huntsville,NaN,NaN,NaN,NaN,NaN,NaN,al,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.79,20.45,46.60,73.57,68.03,150.98
saint_paul,NaN,NaN,NaN,NaN,NaN,NaN,mn,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.56,34.86,53.40,71.31,57.74,118.41
ann_arbor,NaN,NaN,NaN,NaN,NaN,NaN,mi,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.37,38.43,55.02,69.72,61.69,158.08
greenville,NaN,NaN,NaN,NaN,NaN,NaN,sc,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.13,31.15,51.40,73.61,61.50,173.46
iowa_city,NaN,NaN,NaN,NaN,NaN,NaN,ia,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.30,31.20,50.99,67.06,63.93,150.36
virginia_beach,NaN,NaN,NaN,NaN,NaN,NaN,va,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,69.16,37.85,54.11,71.84,66.22,148.28
gainesville,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.99,25.90,47.76,69.10,57.12,119.10
salem,NaN,NaN,NaN,NaN,NaN,NaN,or,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.96,26.71,48.14,68.27,59.91,121.22
nashville,NaN,NaN,NaN,NaN,NaN,NaN,tn,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.82,43.28,56.02,62.76,72.11,166.17
salt_lake_city,NaN,NaN,NaN,NaN,NaN,NaN,ut,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.40,32.53,50.64,68.65,62.93,186.73
eugene,NaN,NaN,NaN,NaN,NaN,NaN,or,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,65.76,27.55,47.40,70.13,53.74,167.77
oklahoma_city,NaN,NaN,NaN,NaN,NaN,NaN,ok,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,65.08,26.74,46.65,71.01,58.99,137.45
savannah,NaN,NaN,NaN,NaN,NaN,NaN,ga,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,64.81,26.58,46.44,63.34,76.62,153.93
tucson,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,63.94,21.59,43.59,65.16,60.12,194.49
omaha,NaN,NaN,NaN,NaN,NaN,NaN,ne,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,63.60,28.22,46.60,64.34,54.44,145.32
tulsa,NaN,NaN,NaN,NaN,NaN,NaN,ok,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,63.24,30.43,47.47,66.49,57.32,155.99
reno,NaN,NaN,NaN,NaN,NaN,NaN,nv,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57.10,25.83,42.07,51.26,56.64,140.98

In [338]:
merged7.to_csv('/data/numbeo_complete.csv')

[autoreload of numbeo_scraper failed: Traceback (most recent call last):
  File "/Users/IXChris/anaconda/lib/python2.7/site-packages/IPython/extensions/autoreload.py", line 247, in check
    superreload(m, reload, self.old_objects)
  File "numbeo_scraper.py", line 93
    columns= ns.fix_em(['Rank','City','Cost of Living Index','Rent Index','Cost of Living Plus Rent Index', 'Groceries Index','Restaurant Price Index','Local Purchasing Power Index'])
          ^
IndentationError: expected an indented block
]

IOError: [Errno 13] Permission denied: '/data/numbeo_complete.csv'

In [47]:
url = 'https://www.biggestuscities.com/demographics/us/education-college-graduates-by-top-100-city'
# This works, don't break!'

def get_grad_data(url, cols, skip_rows=4):
    file_name = url.split('/')[-1].replace('-', '_')
    path = os.getcwd()+'/data/biggestuscities' #/{}'.format(file_name)
    file_path = '{}/{}.csv'.format(path, file_name)
    
    if not os.path.exists(path):
        os.makedirs(path)
    if not os.path.isfile(file_path):
        soup = ns.get_pages(url)
        tabs =[]
        table = soup[0].findAll('table')

        for tag in table:
            tabs.append(tag.text)

        d = [t.replace("\n",",").strip() for t in tabs][-1]
        d = d.split(' ')
        t = [item for item in d if item != '']
        t_done = [item.replace(',',' ').strip()  for item in t]
        just_table = t_done[skip_rows:-9]
        bad_item_list = ['(adsbygoogle', '=', 'window.adsbygoogle', '||', '[]).push({', '});', 'San',
                        'District', 'Of', 'North', 'St.', 'City', 'New', 'Springs', 'Urban', 'Beach',
                         'Rouge', 'Los', 'El', 'Vista', 'County', 'Fort', 'Las', 'Christi', 'Ana']

        for item in bad_item_list:
            just_table.remove(item)

        just_table = [item for item in just_table if item not in bad_item_list if item]
        just_table = [item.replace('Francisco', 'san_francisco') for item in just_table]
        just_table = [item.replace('Carolina', 'north_carolina') for item in just_table]
        just_table = [item.replace('Baton', 'baton_rouge') for item in just_table]
        just_table = [item.replace('Chula', 'chula_vista') for item in just_table]
        just_table = [item.replace('Worth', 'fort_worth') for item in just_table]
        just_table = [item.replace('Christi', 'corpus_christi') for item in just_table]
        just_table = [item.replace('Santa', 'santa_ana') for item in just_table]
        just_table = [item.replace('Vegas', 'las_vegas') for item in just_table]
        just_table = [item.replace('Bernadino', 'san_bernadino') for item in just_table]
        just_table = [item.replace('Columbia', 'dc') for item in just_table]
        just_table = [item.replace('Diego', 'san_diego') for item in just_table]
        just_table = [item.replace('Jersey', 'new_jersey') for item in just_table]
        just_table = [item.replace('Orleans', 'new_orleans') for item in just_table]
        just_table = [item.replace('York', 'new_york') for item in just_table]
        just_table = [item.lower() for item in just_table]

        chunks = [just_table[x:x+4] for x in xrange(0, len(just_table), 4)]
        df = pd.DataFrame(chunks)
        df.columns = cols
        file_name = url.split('/')[-1].replace('-', '_')
        df=df.drop('rank', axis=1)
        df.set_index('city', inplace=True)
        df_csv = df.copy()
        df_csv.to_csv(file_path)
        return df
    else:
        df = pd.read_csv(file_path)
        df.set_index('city', inplace=True)
        return df

cols = ['rank', 'city','state_bc','pct_college_grads_bc']
df = get_grad_data(url, cols)
another_df = pd.concat([next_df, df], axis=0)

#df.to_csv('/data/biggestuscities/{}'.format(filename))
another_df.shape

(592, 50)

In [263]:
url = 'https://www.biggestuscities.com/demographics/us/education-college-graduates-by-top-100-city'
cols = ['rank', 'city','state_fb','pct_foreign_born']
df2 = get_grad_data(url, cols, 6)

'/Users/IXChris/Desktop/G/capstone/data/biggestuscities/people_foreign_born_by_top_100_city.csv'

In [230]:
#subset by dense rows
meetup_df = new_df[new_df['Pop'].notnull()]
cities = list(meetup_df.index)

# fix column names
cols = meetup_df.columns
cols = [item.lower().replace(' ', '_') for item in cols]