In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# data from: https://github.com/cestastanford/historical-us-city-populations
df = pd.read_csv('data/1790-2010_MASTER.csv')

In [3]:
df.set_index(['City'], inplace=True)
df.sort_values(by=['2010'], ascending=False, inplace=True)
df = df.head(100)
df.head()

,ID,ST,CityST,1790,1800,1810,1820,1830,1840,1850,...,Name_2010,County,LAT,LON,LAT_BING,LON_BING,City Source,Population Source,Place Type,County_Name
City,,,,,,,,,,,,,,,,,,,,,
New York City,4768,NY,"New York City, NY",33131.0,60515.0,96373.0,123706.0,202589.0,312710.0,515547.0,...,New York city,NEW YORK,40.664274,-73.938500,40.7820014953613,-73.832703,US Census Bureau,US Census Bureau,Incorporated City,New York
Los Angeles,596,CA,"Los Angeles, CA",0.0,0.0,0.0,0.0,0.0,0.0,1610.0,...,Los Angeles city,LOS ANGELES,34.019394,-118.410825,34.0534896850585,-118.245323,US Census Bureau,US Census Bureau and Jan Lahmeyer (<2500),Incorporated City,Los Angeles
Chicago,1864,IL,"Chicago, IL",0.0,0.0,0.0,0.0,0.0,4470.0,29963.0,...,Chicago city,COOK,41.837551,-87.681844,41.8842506408691,-87.632446,US Census Bureau,US Census Bureau,Incorporated City,Cook
Houston,6536,TX,"Houston, TX",0.0,0.0,0.0,0.0,0.0,0.0,2400.0,...,Houston city,HARRIS,29.780472,-95.386342,29.7604503631591,-95.369781,US Census Bureau,US Census Bureau and Jan Lahmeyer (<2500),Incorporated City,Harris
Philadelphia,5848,PA,"Philadelphia, PA",28522.0,41220.0,53722.0,63802.0,80462.0,93665.0,121376.0,...,Philadelphia city,PHILADELPHIA,40.009375,-75.133346,39.952278137207,-75.162453,US Census Bureau,US Census Bureau,Incorporated City,Philadelphia

In [4]:
columns = df.columns
columns

Index([u'ID', u'ST', u'CityST', u'1790', u'1800', u'1810', u'1820', u'1830',
       u'1840', u'1850', u'1860', u'1870', u'1880', u'1890', u'1900', u'1910',
       u'1920', u'1930', u'1940', u'1950', u'1960', u'1970', u'1980', u'1990',
       u'2000', u'2010', u'STPLFIPS_2010', u'Name_2010', u'County', u'LAT',
       u'LON', u'LAT_BING', u'LON_BING', u'City Source', u'Population Source',
       u'Place Type', u'County_Name'],
      dtype='object')

In [5]:
df[['Place Type', 'City Source','Name_2010' ,'Population Source']].head()

,Place Type,City Source,Name_2010,Population Source
City,,,,
New York City,Incorporated City,US Census Bureau,New York city,US Census Bureau
Los Angeles,Incorporated City,US Census Bureau,Los Angeles city,US Census Bureau and Jan Lahmeyer (<2500)
Chicago,Incorporated City,US Census Bureau,Chicago city,US Census Bureau
Houston,Incorporated City,US Census Bureau,Houston city,US Census Bureau and Jan Lahmeyer (<2500)
Philadelphia,Incorporated City,US Census Bureau,Philadelphia city,US Census Bureau

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, New York City to Spokane
Data columns (total 37 columns):
ID                   100 non-null int64
ST                   100 non-null object
CityST               100 non-null object
1790                 100 non-null float64
1800                 100 non-null float64
1810                 100 non-null float64
1820                 100 non-null float64
1830                 100 non-null float64
1840                 100 non-null float64
1850                 99 non-null float64
1860                 100 non-null float64
1870                 100 non-null float64
1880                 100 non-null float64
1890                 100 non-null float64
1900                 100 non-null float64
1910                 100 non-null float64
1920                 100 non-null float64
1930                 100 non-null float64
1940                 100 non-null float64
1950                 100 non-null float64
1960                 100 non-null float64
1970                 100 non-null float64
1980                 100 non-null float64
1990                 100 non-null float64
2000                 100 non-null float64
2010                 100 non-null float64
STPLFIPS_2010        100 non-null float64
Name_2010            100 non-null object
County               100 non-null object
LAT                  100 non-null float64
LON                  100 non-null float64
LAT_BING             100 non-null object
LON_BING             100 non-null float64
City Source          100 non-null object
Population Source    100 non-null object
Place Type           100 non-null object
County_Name          100 non-null object
dtypes: float64(27), int64(1), object(9)
memory usage: 29.7+ KB

In [7]:
df['LAT_BING'] = df['LAT_BING'].astype(float)
df['LAT_BING'].dtype

dtype('float64')

In [67]:
#df['Name_2010'].split(' ')[-1]
# check to see if this is identical to the city column
df['type'] = df['Name_2010'].apply(lambda x: x.split(' ')[-1])

In [70]:
df['type'].value_counts()

city            94
(balance)        3
municipality     1
CDPs             1
county           1
Name: type, dtype: int64

In [83]:
# check after the decimal to see if I cna conver to int
b = df['STPLFIPS_2010'].apply(lambda x: str(x).split('.')[-1])
b.value_counts()

0    100
Name: STPLFIPS_2010, dtype: int64

In [84]:
df['STPLFIPS_2010']=df['STPLFIPS_2010'].astype(int)

In [97]:
df[['LAT', 'LAT_BING']].head()
#df.info()

                     LAT   LAT_BING
City
New York City  40.664274  40.782001
Los Angeles    34.019394  34.053490
Chicago        41.837551  41.884251
Houston        29.780472  29.760450
Philadelphia   40.009375  39.952278

In [105]:
df.drop(['Name_2010','Place Type','CityST', 'ID','LAT_BING', 'LON_BING'], axis=1, inplace=True)