In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [28]:
# data from: https://github.com/cestastanford/historical-us-city-populations
df = pd.read_csv('~/downloads/1790-2010_MASTER.csv')

In [29]:
df.set_index(['City'], inplace=True)
df.sort_values(by=['2010'], ascending=False, inplace=True)
df = df.head(100)
df.head()

,ID,ST,CityST,1790,1800,1810,1820,1830,1840,1850,...,Name_2010,County,LAT,LON,LAT_BING,LON_BING,City Source,Population Source,Place Type,County_Name
City,,,,,,,,,,,,,,,,,,,,,
New York City,4768,NY,"New York City, NY",33131.0,60515.0,96373.0,123706.0,202589.0,312710.0,515547.0,...,New York city,NEW YORK,40.664274,-73.938500,40.7820014953613,-73.832703,US Census Bureau,US Census Bureau,Incorporated City,New York
Los Angeles,596,CA,"Los Angeles, CA",0.0,0.0,0.0,0.0,0.0,0.0,1610.0,...,Los Angeles city,LOS ANGELES,34.019394,-118.410825,34.0534896850585,-118.245323,US Census Bureau,US Census Bureau and Jan Lahmeyer (<2500),Incorporated City,Los Angeles
Chicago,1864,IL,"Chicago, IL",0.0,0.0,0.0,0.0,0.0,4470.0,29963.0,...,Chicago city,COOK,41.837551,-87.681844,41.8842506408691,-87.632446,US Census Bureau,US Census Bureau,Incorporated City,Cook
Houston,6536,TX,"Houston, TX",0.0,0.0,0.0,0.0,0.0,0.0,2400.0,...,Houston city,HARRIS,29.780472,-95.386342,29.7604503631591,-95.369781,US Census Bureau,US Census Bureau and Jan Lahmeyer (<2500),Incorporated City,Harris
Philadelphia,5848,PA,"Philadelphia, PA",28522.0,41220.0,53722.0,63802.0,80462.0,93665.0,121376.0,...,Philadelphia city,PHILADELPHIA,40.009375,-75.133346,39.952278137207,-75.162453,US Census Bureau,US Census Bureau,Incorporated City,Philadelphia

In [31]:
columns = df.columns
columns

Index([u'ID', u'ST', u'CityST', u'1790', u'1800', u'1810', u'1820', u'1830',
       u'1840', u'1850', u'1860', u'1870', u'1880', u'1890', u'1900', u'1910',
       u'1920', u'1930', u'1940', u'1950', u'1960', u'1970', u'1980', u'1990',
       u'2000', u'2010', u'STPLFIPS_2010', u'Name_2010', u'County', u'LAT',
       u'LON', u'LAT_BING', u'LON_BING', u'City Source', u'Population Source',
       u'Place Type', u'County_Name'],
      dtype='object')

In [39]:
df[['Place Type', 'City Source','Name_2010' ,'Population Source']].head()

,Place Type,City Source,Name_2010,Population Source
City,,,,
New York City,Incorporated City,US Census Bureau,New York city,US Census Bureau
Los Angeles,Incorporated City,US Census Bureau,Los Angeles city,US Census Bureau and Jan Lahmeyer (<2500)
Chicago,Incorporated City,US Census Bureau,Chicago city,US Census Bureau
Houston,Incorporated City,US Census Bureau,Houston city,US Census Bureau and Jan Lahmeyer (<2500)
Philadelphia,Incorporated City,US Census Bureau,Philadelphia city,US Census Bureau

TypeError: invalid type comparison

In [52]:
df.describe()

/Users/IXChris/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,ID,1790,1800,1810,1820,1830,1840,1850,1860,1870,...,1960,1970,1980,1990,2000,2010,STPLFIPS_2010,LAT,LON,LON_BING
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.000000,100.000000,100.000000,...,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,100.000000,100.000000,100.000000
mean,3383.160000,974.350000,1665.220000,2796.140000,3754.000000,6003.220000,9536.550000,17536.393939,31962.930000,46930.150000,...,4.355523e+05,4.705104e+05,4.703172e+05,5.076025e+05,5.628411e+05,5.989981e+05,2.684659e+06,36.461108,-98.135848,-98.149568
std,2409.266411,4865.484438,8084.751579,12391.825545,15879.798451,24209.423263,36573.168639,59297.830186,104784.835604,128879.283368,...,8.972562e+05,9.000580e+05,8.150115e+05,8.399992e+05,9.086710e+05,9.209077e+05,1.718395e+06,5.512642,17.668007,17.692100
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,7.000000e+03,2.436300e+04,4.770700e+04,1.154880e+05,2.089160e+05,1.070000e+05,21.325852,-157.845315,-157.857758
25%,816.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,8.282450e+04,1.196132e+05,1.597318e+05,1.917945e+05,2.262095e+05,2.468900e+05,7.717500e+05,33.372163,-115.050412,-115.015482
50%,3574.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,100.000000,2200.000000,...,2.085440e+05,2.771340e+05,2.821255e+05,3.160670e+05,3.411305e+05,3.739030e+05,2.848000e+06,36.149874,-96.655356,-96.667900
75%,5419.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1550.000000,NaN,13772.250000,22808.000000,...,4.779115e+05,5.050312e+05,4.535135e+05,4.728010e+05,5.420020e+05,6.004240e+05,4.096000e+06,39.765553,-82.899797,-82.911751
max,7333.000000,33131.000000,60515.000000,96373.000000,123706.000000,202589.000000,312710.000000,515547.000000,813669.000000,942292.000000,...,7.781984e+06,7.895563e+06,7.071639e+06,7.322564e+06,8.008278e+06,8.175133e+06,5.553000e+06,61.177549,-71.020173,-71.056740

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, New York City to Spokane
Data columns (total 37 columns):
ID                   100 non-null int64
ST                   100 non-null object
CityST               100 non-null object
1790                 100 non-null float64
1800                 100 non-null float64
1810                 100 non-null float64
1820                 100 non-null float64
1830                 100 non-null float64
1840                 100 non-null float64
1850                 99 non-null float64
1860                 100 non-null float64
1870                 100 non-null float64
1880                 100 non-null float64
1890                 100 non-null float64
1900                 100 non-null float64
1910                 100 non-null float64
1920                 100 non-null float64
1930                 100 non-null float64
1940                 100 non-null float64
1950                 100 non-null float64
1960                 100 non-null float64
1970                 100 non-null float64
1980                 100 non-null float64
1990                 100 non-null float64
2000                 100 non-null float64
2010                 100 non-null float64
STPLFIPS_2010        100 non-null float64
Name_2010            100 non-null object
County               100 non-null object
LAT                  100 non-null float64
LON                  100 non-null float64
LAT_BING             100 non-null object
LON_BING             100 non-null float64
City Source          100 non-null object
Population Source    100 non-null object
Place Type           100 non-null object
County_Name          100 non-null object
dtypes: float64(27), int64(1), object(9)
memory usage: 29.7+ KB

In [56]:
df['LAT_BING'] = df['LAT_BING'].astype(float)

In [67]:
#df['Name_2010'].split(' ')[-1]
# check to see if this is identical to the city column
df['type'] = df['Name_2010'].apply(lambda x: x.split(' ')[-1])

In [70]:
df['type'].value_counts()

city            94
(balance)        3
municipality     1
CDPs             1
county           1
Name: type, dtype: int64

In [ ]:
df.drop([['Name_2010'],['Place Type'], ], axis=1)

In [83]:
# check after the decimal to see if I cna conver to int
b = df['STPLFIPS_2010'].apply(lambda x: str(x).split('.')[-1])
b.value_counts()

0    100
Name: STPLFIPS_2010, dtype: int64

In [84]:
df['STPLFIPS_2010']=df['STPLFIPS_2010'].astype(int)