In [36]:
from __future__ import division
import pandas as pd
import numpy as np
import quandl as ql
from StringIO import StringIO
from zipfile import ZipFile
from urllib import urlopen

In [33]:
def get_file_metadata(zip_url):
    '''INPUT: url of zip file
       OUTPUT: list of lines from each file in zip file
       From Quandl output will be of the form:
       [[quandl file code 0, target file name 0], 
       [quandl file code 1, target file name 1], ]
       '''
    file_list = []
   # url = urlopen(zip_url)
    zipfile = ZipFile(StringIO(urlopen(zip_url).read()))
    names = zipfile.namelist()
    for name in names:
        for line in zipfile.open(name).readlines():
            file_list.append(line.strip('\n').split(','))
    return file_list
# list comp ^^
# file_list = [line for name in names for line in zipfile.open(name).readlines()...]

In [34]:
file_names = get_em('https://www.quandl.com/api/v3/databases/NVCA/codes')

In [40]:
file_names[0][0]

'NVCA/VENTURE_3_10B'

In [42]:
file_zero = ql.get(file_names[0][0]).to_csv()

AttributeError: 'DataFrame' object has no attribute 'name'

In [44]:
file_zero.describe()

/Users/IXChris/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Biotechnology,Business Products and Services,Computers and Peripherals,Consumer Products and Services,Electronics/Instrumentation,Financial Services,Healthcare Services,Industrial/Energy,IT Services,Media and Entertainment,Medical Devices and Equipment,Networking and Equipment,Other,Retailing/Distribution,Semiconductors,Software,Telecommunications,Total
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.00000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,30.000000,31.000000
mean,365.354839,117.612903,70.419355,146.000000,51.774194,104.064516,74.193548,175.225806,209.83871,257.322581,222.677419,137.225806,16.322581,65.193548,133.161290,814.935484,171.233333,3127.032258
std,106.408818,79.627750,22.275209,59.308234,22.331905,56.462929,38.388730,93.128123,146.00025,220.150462,128.091735,95.706743,12.117170,54.401237,67.627951,646.536410,192.842563,1570.546157
min,175.000000,33.000000,34.000000,46.000000,19.000000,48.000000,38.000000,38.000000,62.00000,18.000000,27.000000,28.000000,1.000000,30.000000,64.000000,20.000000,1.000000,1212.000000
25%,283.500000,72.000000,56.000000,110.000000,32.000000,63.500000,51.000000,87.500000,80.50000,72.000000,69.000000,72.000000,8.500000,40.500000,76.500000,40.000000,NaN,1535.000000
50%,334.000000,98.000000,61.000000,138.000000,53.000000,87.000000,59.000000,160.000000,173.00000,212.000000,275.000000,130.000000,11.000000,51.000000,112.000000,962.000000,NaN,3232.000000
75%,475.000000,138.000000,85.000000,184.500000,63.500000,132.500000,73.000000,252.000000,313.50000,410.500000,327.500000,170.500000,24.500000,60.500000,190.500000,1205.500000,NaN,4128.000000
max,551.000000,452.000000,128.000000,285.000000,98.000000,329.000000,165.000000,360.000000,684.00000,954.000000,394.000000,480.000000,44.000000,281.000000,268.000000,2176.000000,850.000000,8041.000000

In [32]:
'''from list file_names:
    pass file_name[0] to quandl.get()
    and save as file_name[1] and save to data folder
    '''
def get_files(target_file_list):
    for file_name in file_names:
        ql.get(file_names[0][0])
        print file_name

['NVCA/VENTURE_3_10B', 'Venture Capital Investments By Industry - Number of Deals']
['NVCA/VENTURE_2_02', 'Capital Commitments To Private Equity Funds']
['NVCA/VENTURE_3_11', 'Venture Capital Investments By State - Number of Deals']
['NVCA/VCFR_YEARLY', 'Venture Capital Fund Raising Activity - Annual Data']
['NVCA/VENTURE_1_02', 'Total Capital Under Management By Firm Type']
['NVCA/VC_EXITS_YEARLY', 'Venture Capital Exits - Annual Data']
['NVCA/VENTURE_4_07', 'Venture-Backed Merger and Acquisitions']
['NVCA/VENTURE_1_05', 'Principals Information']
['NVCA/VC_EXITS_QUARTERLY', 'Venture Capital Exits - Quarterly Data']
['NVCA/VCFR_QUARTERLY', 'Venture Capital Fund Raising Activity - Quarterly Data']
['NVCA/VENTURE_4_05', 'Venture-Backed IPOs by MoneyTree Industry - Total Number of Companies']
['NVCA/VENTURE_4_17B', 'Venture-Backed US Company IPOs By Country - Number of Exits']
['NVCA/VENTURE_4_14', 'Companies in Registration vs Number of Venture-Backed IPOs']
['NVCA/VENTURE_4_02', 'Number of Venture-Backed IPOs vs. All IPOs']
['NVCA/VENTURE_4_03', 'Venture-Backed IPOs']
['NVCA/VENTURE_4_13', 'M and A Transaction Values vs Amount Invested']
['NVCA/VENTURE_4_18', 'Ratio fo IPO Pre-Money Valuation to Amount Invested']
['NVCA/VENTURE_4_12', 'Private Equity-Backed Acquisitions by MoneyTree Industry - Number of Companies']
['NVCA/VENTURE_4_04', 'Venture-Backed IPOs by MoneyTree Industry - Total Offering Size']
['NVCA/VENTURE_2_03', 'Venture Capital Fund Commitments by State']
['NVCA/VENTURE_9_0', 'Venture-Backed IPOs']
['NVCA/VENTURE_3_13', 'Venture Capital Investments First vs Follow-on Rounds - Total Dollars Invested']
['NVCA/VENTURE_4_10', 'Venture-Backed Acquisitions by MoneyTree Industry - Number of Companies']
['NVCA/VENTURE_3_20', 'Internet Related Investments']
['NVCA/VENTURE_4_11', 'Private Equity-Backed Acquisitions by MoneyTree Industry - Total Transaction Value']
['NVCA/VENTURE_4_15', 'Post-Offer Value Ranges']
['NVCA/VENTURE_4_08', 'Private Equity-Backed Merger and Acquisitions']
['NVCA/VENTURE_IPOS', 'Venture-Backed IPOs']
['NVCA/VENTURE_3_19', 'First Sequence by Industry - Number of Deals']
['NVCA/VENTURE_3_16', 'First Sequence by Stage of Development']
['NVCA/VENTURE_3_08B', 'Venture Capital Investments By Region - Number of Deals']
['NVCA/VENTURE_3_33', 'Clean Technology Investment By Year']
['NVCA/VENTURE_M_A_EXITS', 'Venture-Backed M & A Exits']
['NVCA/VENTURE_4_16', 'M&A Deal Value Ranges by Number of Companies']
['NVCA/VENTURE_4_09', 'Venture-Backed Acquisitions by MoneyTree Industry - Total Transaction Values']
['NVCA/VENTURE_3_10', 'Venture Capital Investments By Industry']
['NVCA/VENTURE_3_15', 'Venture Capital Investments First vs. Follow-on Rounds - Total Number of Companies']
['NVCA/VENTURE_4_19', 'Venture-Backed IPOs Valuations as of IPO']
['NVCA/VENTURE_4_17A', 'Venture-Backed US Company IPOs By Country - Offer Amount']
['NVCA/VENTURE_4_06B', 'Median Years Between First Funding and the IPO by Industry']
['NVCA/VENTURE_4_06A', 'Average Years Between First Funding and the IPO by Industry']
['NVCA/VENTURE_1_07', 'Capital Under Management By State']
['NVCA/VENTURE_1_04', 'Fund and Firm Analysis']
['NVCA/VENTURE_3_08', 'Venture Capital Investments By Region']
['NVCA/VENTURE_3_18', 'First Sequence by Industry']
['NVCA/VENTURE_10_0', 'Venture-Backed M & A Exits']
['NVCA/VENTURE_3_32', 'Corporate Investments by Year']
['NVCA/VENTURE_3_09', 'Venture Capital Investments By Stage']
['NVCA/VENTURE_3_09B', 'Venture Capital Investments By Stage - Number of Deals']
['NVCA/VENTURE_3_17', 'First Sequence by Stage of Development - Number of Deals']
['NVCA/VENTURE_3_09D', 'Venture Capital Investments By Stage - Number of Deals - Quarterly']
['NVCA/VENTURE_3_09C', 'Venture Capital Investments By Stage - Quarterly']

'NVCA/VENTURE_3_10B'